<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All test suites">
   <test name="Valid Test Cases">
         <classes>
             <class name="Tests.PingRequestsTest">
                 <methods>
                        <include name="validateOnline"/>
                 </methods>
             </class>
              <class name="Tests.AuthenticationTest">
                  <methods>
                      <include name="validAuthenticationTest"/>
                  </methods>
              </class>
             <class name="Tests.CreateBookingRequestsTest">
                 <methods>
                     <include name="validCreateBookingTest"/>
                 </methods>
             </class>
             <class name="Requests.GetBookingIDsRequest">
                 <methods>
                        <include name="validGetBookingIDsTest"/>
                 </methods>
             </class>
             <class name="Tests.GetBookingByIDTest">
                 <methods>
                        <include name="validGetBookingDetails"/>
                 </methods>
             </class>
             <class name="Tests.PartialUpdateBookingTest">
                 <methods>
                        <include name="validPartialUpdateBooking"/>
                 </methods>
             </class>
             <class name="Tests.UpdateBookingTest">
                 <methods>
                        <include name="validUpdateBookingTest"/>
                 </methods>
             </class>
             <class name="Tests.DeleteTests">
                 <methods>
                        <include name="validDeleteBookingTest"/>
                 </methods>
             </class>
         </classes>
    </test>
    <test name="Invalid Test Cases">
        <classes>
            <class name="Tests.AuthenticationTest">
                <methods>
                    <exclude name="validAuthenticationTest"/>
                </methods>
            </class>
            <class name="Tests.CreateBookingRequestsTest">
                <methods>
                    <exclude name="validCreateBookingTest"/>
                </methods>
            </class>
            <class name="Requests.GetBookingIDsRequest">
                <methods>
                    <exclude name="validGetBookingIDsTest"/>
                </methods>
            </class>
            <class name="Tests.GetBookingByIDTest">
                <methods>
                    <exclude name="validGetBookingDetails"/>
                </methods>
            </class>
            <class name="Tests.PartialUpdateBookingTest">
                <methods>
                    <exclude name="validPartialUpdateBooking"/>
                </methods>
            </class>
            <class name="Tests.UpdateBookingTest">
                <methods>
                    <exclude name="validUpdateBookingTest"/>
                </methods>
            </class>
            <class name="Tests.DeleteTests">
                <methods>
                    <exclude name="validDeleteBookingTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="End to End">
        <classes>
            <class name="Tests.E2ETest"/>
        </classes>
    </test>
</suite>
